@font-face {
    font-family: 'Qanelas';
    src: url('fonts/Qanelas-Regular.woff2') format('woff2'),
         url('fonts/Qanelas-Regular.woff') format('woff'),
         url('fonts/Qanelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Aplicar la fuente Qanelas al cuerpo del documento o a elementos específicos */
body {
    font-family: 'Qanelas', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f3f3f3;
}

.container {
    position: relative;
    width: 300px;
    height: 1068px;
}

.label-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.label-image {
    width: 100%;
    height: auto;
}

.info {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.medida {
    top: 76px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.rrc {
    top: 150px;
    left: 50px;
}

.wet-grip {
    top: 150px;
    left: 180px;
}

.noise-value {
    position: absolute;
    top: 374px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    padding-left: 115px;
}

.ean-code {
    bottom: 80px;
    left: 50px;
}

.pattern {
    position: absolute;
    top: 48px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

/* Contenedor para la imagen de nivel de ruido para noise level = 1 */
.noise-level-image {
    position: absolute;
    top: 375px;
    left: 108px;
    transform: translateX(-1.12px) translateY(2.7px);
    display: none;
}

.noise-level-image img {
    transform: scale(0.95);
    margin-top: -1px;
    margin-left: 2px;
    width: 13px;
}

/* Posiciones para las imágenes adicionales de noise level = 2 */
#noiseLevelImageContainer2-1 {
    position: absolute;
    top: 375px;
    left: 108px;
    transform: translateX(-1.12px) translateY(2.7px);
    display: none;
}

#noiseLevelImageContainer2-2 {
    position: absolute;
    top: 366px;
    left: 115px;
    transform: translateX(-1.12px) translateY(2.7px);
    display: none;
}

/* Ajuste de tamaño individual para cada imagen */
#noiseLevelImage1 {
    width: 13px; /* Tamaño de la primera imagen */
    height: auto;
}

#noiseLevelImage2-1 {
    width: 13px; /* Tamaño personalizado para la segunda imagen */
    height: auto;
}

#noiseLevelImage2-2 {
    width: 16px; /* Tamaño personalizado para la tercera imagen */
    height: auto;
}

/* Posiciones y tamaños para las imágenes de noise level = 3 */
#noiseLevelImageContainer3-1 {
    position: absolute;
    top: 375px;
    left: 108px;
    transform: translateX(-1.12px) translateY(2.7px);
    display: none;
}

#noiseLevelImageContainer3-2 {
    position: absolute;
    top: 366px;
    left: 115px;
    transform: translateX(-1.12px) translateY(2.7px);
    display: none;
}

#noiseLevelImageContainer3-3 {
    position: absolute;
    top: 358px;
    left: 123px;
    transform: translateX(-1.7px) translateY(2.3px);
    display: none;
}

/* Tamaños individuales para cada imagen de noise level = 3 */
#noiseLevelImage3-1 {
    width: 13px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

#noiseLevelImage3-2 {
    width: 16px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

#noiseLevelImage3-3 {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.barcode {
    position: absolute;
    bottom: 50px; /* Ajusta esta distancia desde el borde inferior */
    left: 100px;   /* Ajusta esta distancia desde el borde izquierdo */
    width: 180px; /* Ajusta el ancho del código de barras */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
}

/* Ajuste para el contenedor del código de barras */
.info.ean-code {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior */
    top: 557px;
    left: 90px;   /* Ajusta la distancia desde el borde izquierdo */
    width: 100px; /* Ajusta el ancho del código de barras */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
}

/* Ajuste específico para el SVG del código de barras */
#barcode {
    width: 120%;  /* Para que se adapte al ancho del contenedor */
    height: 100px; /* Ajusta la altura del código de barras */
}

#barcode text {
    letter-spacing: 0;  /* Ajusta este valor para reducir la separación entre los números */
}

/* Contenedor para la imagen según el valor de RRC */
.rrc-image-container {
    position: absolute;
    top: 155px; /* Ajusta la posición base según sea necesario */
    left: 50px;
}

/* Ajustes específicos para cada valor de RRC con tamaño y posición personalizados */
#rrcImageA {
    position: absolute;
    top: 42px; /* Ajusta la posición específica */
    left: 73px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#rrcImageB {
    position: absolute;
    top: 62px; /* Ajusta la posición específica */
    left: 73px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#rrcImageC {
    position: absolute;
    top: 81px; /* Ajusta la posición específica */
    left: 73px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#rrcImageD {
    position: absolute;
    top: 100px; /* Ajusta la posición específica */
    left: 73px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#rrcImageE {
    position: absolute;
    top: 119px; /* Ajusta la posición específica */
    left: 73px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#rrcImageF {
    position: absolute;
    top: 138px; /* Ajusta la posición específica */
    left: 73px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#rrcImageG {
    position: absolute;
    top: 157px; /* Ajusta la posición específica */
    left: 73px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

/* Contenedor para las imágenes de Wet Grip */
.wetgrip-image-container {
    position: absolute;
    top: 150px; /* Ajusta según sea necesario */
    left: 180px;
}

/* Estilos específicos para cada valor de Wet Grip con tamaño y posición personalizados */
#wetGripImageA {
    position: absolute;
    top: 48px; /* Ajusta la posición específica */
    left: 35px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#wetGripImageB {
    position: absolute;
    top: 67px; /* Ajusta la posición específica */
    left: 35px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#wetGripImageC {
    position: absolute;
    top: 86px; /* Ajusta la posición específica */
    left: 35px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#wetGripImageD {
    position: absolute;
    top: 106px; /* Ajusta la posición específica */
    left: 35px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#wetGripImageE {
    position: absolute;
    top: 124px; /* Ajusta la posición específica */
    left: 35px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#wetGripImageF {
    position: absolute;
    top: 144px; /* Ajusta la posición específica */
    left: 35px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#wetGripImageG {
    position: absolute;
    top: 162px; /* Ajusta la posición específica */
    left: 35px;
    width: 30px; /* Ajusta el ancho específico */
    height: 21px; /* Ajusta la altura específica */
    display: block; /* Asegúrate de que esté visible */
}

#downloadPdfButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    /* Posicionamiento */
    position: absolute; /* Usa absolute o fixed para mover el botón */
    top: 450px; /* Ajusta según la posición vertical deseada */
    right: 350px; /* Ajusta según la posición horizontal deseada */
}

#downloadPdfButton:hover {
    background-color: #45a049;
}

#downloadPdfButton:active {
    background-color: #4aaf4d;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

#backToHomeButton {
    background-color: #2196F3; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 12px 24px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Animación suave para el cambio de color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
       
    /* Posicionamiento */
       position: absolute; /* Usa absolute o fixed para mover el botón */
       top: 510px; /* Ajusta según la posición vertical deseada */
       right: 305px; /* Ajusta según la posición horizontal deseada */
}

#backToHomeButton:hover {
    background-color: #1976D2; /* Color de fondo al pasar el cursor */
}
